<style>
  .uk-background-secondary {
    background-color: #0e1b2b;
    color: #fff;
  }
  .uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
    min-height: 40px;
  }
  
  .fh-banner {
    background: #0dbdbe url(/img/flockler-hub/motif.png) no-repeat center right;
    background-size: contain;
    color: #fff;
    overflow: hidden;
    padding: 1.25em 0;
    position: relative;
    z-index: 20;
  }
  /* banner */
  @media (min-width: 840px){
    .fh-banner {
      background-image: url({{theme.link}}/assets/img/homepage-banner.jpg);
    }
  }
  @media (min-width: 1100px){
    .fh-banner {
      background-position: 25em center;
      padding: 1.5em 0;
    }
  }
  @media (min-width: 1100px){
    .fh-banner {
      background-position: 30em center;
    }
  }
  @media (min-width: 1300px){
    .fh-banner {
      background-position: center right;
    }
  }
  .b {
    width: auto;
    margin: 0 auto;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  @media (min-width: 500px){
    .b {
      padding-left: 2em;
      padding-right: 2em;
    }
  }
  @media (min-width: 1400px){
    .b {
      padding-left: 0;
      padding-right: 0;
      width: 90%;
    }
  }
  @media (min-width: 1550px){
    .b {
      width: 80%;
    }
  }
  .fh-banner__logo {
    background: url(https://www.nzc.nz/img/furniture/nzc-logo-vert-2.svg) center no-repeat;
    background-size: contain;
    color: transparent;
    display: none;
    float: right;
    height: 4.5em;
    width: 3em;
  }
  @media (min-width: 1100px){
    .fh-banner__logo {
      display: block;
    }
  }
  .fh-banner p {
    font-size: 1.25em;
    font-weight: bold;
    margin: 0;
  }
  @media (min-width: 1100px){
    .fh-banner p {
      font-size: 2.5em;
      line-height: 1;
    }
  }
  .fh-banner p a {
    color: #141134;
    text-decoration: underline;
  }
</style>

<header>
  <div class="uk-background-secondary uk-light">
    <div class="uk-section uk-section-xsmall uk-container uk-container-xlarge">
      
      
      <nav class="uk-navbar-container uk-navbar-container uk-navbar-transparent uk-marginnn" uk-navbar>
      	<div class="uk-navbar-left">
      		<a class="uk-navbar-item uk-logo min-height-40" href="#">
            <img class="" src="https://midlandjobs.ie/templates/BootstrapDND/assets/images/midlandjobs-logo-wh.png" width="" height="" alt="">
          </a>
      	</div>
        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav min-height-40">
      			<li>
      				<a href="#">
                <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span>Features
      				</a>
      			</li>
      		</ul>
      	</div>
      </nav>
      
      
    </div>
  </div>
</header>

<div class="fh-banner">
	<div class="b">
		<a class="fh-banner__logo" href="/?showHome=true">NZC</a>
		<p>This is #cricketnation</p>
		<p><a href="https://twitter.com/intent/tweet?text=https://www.nzc.nz/cricketnation&amp;hashtags=cricketnation" target="_blank">Share the experience.</a></p>
	</div>
</div>