{% extends 'base.twig' %}

{% block main %}
  <div id="Archive" class="theme-archive uk-margin-large-bottom">

    {% block archive_header %}
      {% include '_archive-header.twig' with {title: title, description: description} %}
    {% endblock %}
    
    {% block archive_content_wrap %}
      <div class="archive-content-wrap">
        {% block archive_content %}
          <div class="archive-content uk-container uk-container-small">
            {% if posts is not empty %}
              <div class="masonry-container uk-child-width-1-1 uk-child-width-1-2@m uk-grid-collapse uk-positionnn-relative" uk-grid uk-griddd="masonry: true">
                {% for post in posts %}
                  <div>
                    {% include '_tease.twig' %}
                  </div>
                {% endfor %}
              </div>
            {% else %}
              No posts found...
            {% endif %}
          </div>
        {% endblock %}
      </div>
    {% endblock %}
    
    {% block archive_footer %}
      {% include '_archive-footer.twig' %}
    {% endblock %}
    
    <script>
      var masonry = MasonryGrid({
        container: '.masonry-container',
        trueOrder: false,
        waitForImages: false,
        margin: 20,
        columns: 2,
        breakAt: {
          940: 1
        }
      });
    </script>
  
  </div>
{% endblock %}