{% import "_snippets.twig" as snippets %}
{% extends "base.twig" %}

{% block styles %}
  {{ parent() }}
{% endblock %}

{% block main %}
  <div data-template="index.twig">
    {% block archive_header %}
      <header class="height-content">
        {% include '_index-header.twig' %}
      </header>
    {% endblock %}
    {% block archive_main %}
      <div class="uk-section uk-container">

        {% block archive_content %}
          {% block archive_main_posts %}
            {% if archive.posts is not empty %}
              <div class="archive-posts uk-child-width-1-2@s uk-child-width-1-3@m uk-grid-medium" uk-grid="masonry: true">
                {% for post in archive.posts %}
                  <article id="post-{{ post.id|e('esc_html') }}" class="post item uk-section uk-section-small uk-padding-remove-top {{ post.class|e('esc_html') }}">
                    {% include '_tease.twig' with {post: post, preview_length: 20, thumb_w: 600} %}
                  </article>
                {% endfor %}
              </div>
            {% else %}
              <p class="uk-text-emphasis">{{ snippets.no_posts()|e('esc_html') }}</p>
            {% endif %}
          {% endblock %}
        {% endblock %}

        {% block archive_footer %}
          {% if (posts.pagination.next or posts.pagination.prev) %}
            <footer>
              {% set _posts = archive.posts %}
              {% include '_pagination.twig' with { pagination: _posts.pagination({show_all: false, mid_size: 3, end_size: 2}), container_class: '' } %}
            </footer>
          {% endif %}
        {% endblock %}

      </div>
    {% endblock %}
  </div>
{% endblock %}
