{% extends 'single.twig' %}

{% block header %}
  {# parent() #}
{% endblock %}

{% block main %}
  <article id="{{ post.id|e('esc_html') }}" class="{{ post.class|e('esc_html') }} {{ (fn('post_password_required', post.id)) ? 'uk-section' }}">
    
    {% block single_header %}
    {% endblock %}
    
    {% block single_thumb %}
    {% endblock %}
    
    {% block breads %}
    {% endblock %}
    
    {% block single_content %}
      <div class="single-content uk-background-default">
        {% block single_content_inner %}
          {{ parent() }}
        {% endblock %}
      </div>
    {% endblock %}
    
    {% block single_footer %}
    {% endblock %}
  
  </article>
{% endblock %}

{% block footer %}
  {# parent() #}
{% endblock %}