{% extends 'single.twig' %}

{% block single_desc %}
  <p class="uk-text-lead uk-margin-medium-bottom">Wooden Venetian Blinds blend both style and functionality and are available in a large range of colours, wooden finishes and slat widths to suit any style of home or office. We cover Westmeath, Longford, Meath, Kildare, Offaly, Cavan, & Dublin.</p>
{% endblock %}

{% block cover_img %}style="background-image: url(https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-vertical-blinds-2-1920x1200.jpg);"{% endblock %}

{% block single_content %}
  <section id="First" class="uk-background-muted uk-section uk-section-small">
    <div class="uk-container uk-container-large">
      <ul class="uk-child-width-1-2@m uk-flex uk-flex-center" uk-grid="masonry:true">
        <li class="" uk-lightbox>
          <div>
            <a href="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-wooden-venetian-blinds-10-716x450.jpg" class="uk-inline uk-transition-toggle">
              <img class="uk-border-rounded" src="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-wooden-venetian-blinds-10-716x450.jpg" alt="">
              <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
              </div>
            </a>
            <div class="uk-padding uk-padding-remove-vertical pull-up-50">
              <div class="uk-background-default uk-text-center uk-position-relative">
                <div class="uk-position-top pull-up-15">
                  <span class="uk-label uk-label-danger label-large">Made-to-measure</span>
                </div>
                <div class="uk-padding">
                  <h3 class="uk-margin-small">What are the benefits?</h3>
                  <p class="uk-margin-small">Wooden Venetian have adjustable slats which makes them great for not only light control but also privacy. When raised; the blind will be stacked from the top of your window, down. Venetian blinds are a drill-free option as Perfect Fit blinds can be clipped into any uPVC frames. Wooden Venetian Blinds can personalise your space with decorative tape and a choice of slat widths by styling any space, with a choice of contemporary colours and natural wood stains.</p>
                  <!-- <a href="/blinds" class="uk-button uk-button-text">browse blinds</a> -->
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="" uk-lightbox>
          <div>
            <a href="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-wooden-venetian-blinds-61-716x450.jpg" class="uk-inline uk-transition-toggle">
              <img class="uk-border-rounded" src="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-wooden-venetian-blinds-61-716x450.jpg" alt="">
              <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
              </div>
            </a>
            <div class="uk-padding uk-padding-remove-vertical pull-up-50">
              <div class="uk-background-default uk-text-center uk-position-relative">
                <div class="uk-position-top pull-up-15">
                  <span class="uk-label uk-label-danger label-large">Made-to-measure</span>
                </div>
                <div class="uk-padding">
                  <h3 class="uk-margin-small">What to Consider</h3>
                  <p class="uk-margin-small">Wider slat widths suit large windows and sliding doors and Narrow slat widths are better for smaller windows. Faux-wood blinds are better for warm and sunny rooms such as conservatories.</p>
                  <!-- <a href="/shutters" class="uk-button uk-button-text">browse shutters</a> -->
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="" uk-lightbox>
          <div>
            <a href="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-wooden-venetian-blinds-38-716x450.jpg" class="uk-inline uk-transition-toggle">
              <img class="uk-border-rounded" src="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-wooden-venetian-blinds-38-716x450.jpg" alt="">
              <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
              </div>
            </a>
            <div class="uk-padding uk-padding-remove-vertical pull-up-50">
              <div class="uk-background-default uk-text-center uk-position-relative">
                <div class="uk-position-top pull-up-15">
                  <span class="uk-label uk-label-danger label-large">Made-to-measure</span>
                </div>
                <div class="uk-padding">
                  <h3 class="uk-margin-small">Wooden vs Faux-wood</h3>
                  <p class="uk-margin-small">Venetian blinds are available in made-to-measure Faux Wood and real Wooden slats which offer stylish and practical solutions for any room. All slats whether wooden or faux-wood are available in your choice of slat widths. Faux-wood provides a practical and moisture-resistant PVC wood-effect alternative which is available in your choice of painted / wood stains and finishes. All of our Wood is ethically sources and is available in your choice of painted / natural wood finishes.</p>
                  <!-- <a href="/curtains" class="uk-button uk-button-text">browse curtains</a> -->
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
{% endblock %}