{% extends 'base.twig' %}
{% import "_snippets.twig" as snippets %}

{% block styles %}
  <link rel='stylesheet' href='{{theme.link}}/assets/css/editor.css' type='text/css' media='all' />
{% endblock %}

{% block main %}
  <article id="{{ post.id|e('esc_html') }}" class="{{ post.class|e('esc_html') }}" data-template="single.twig">

    {% block single_header %}
      <header id="OldCoverBlockCover" class="uk-background-muted">
        
        <div class="uk-section uk-section-small uk-background-center-center uk-position-relative uk-background-cover uk-background-fixed overlay-wrap white-overlay uk-dark" {% block cover_img %}style="background-image: url(https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-day-night-blinds-20-1920x1200.jpg);"{% endblock %}>
          
          <div class="uk-position-z-index uk-position-relative uk-container uk-container-small uk-text-center uk-margin-bottom">
            
            {% block single_header_title %}
              <h1 id="CoverBlockTitle" class="uk-h1 uk-text-primary">{{ post.title }}</h1>
            {% endblock %}
                
            {% block single_header_divider %}
              <hr class="uk-divider-small">
            {% endblock %}

            {% block single_desc %}
              <p class="uk-text-lead uk-margin-medium-bottom">Combining fabrics with designer specs to create the perfect product for your home or business. We specialize in Conservatory Roof Blinds, Window Blinds & much more. We cover Westmeath, Longford, Meath, Kildare, Offaly, Cavan, & Dublin.</p>
            {% endblock %}
          
            {% block single_header_btn %}
              <a id="CoverBlockStandardButton" type="button" href="#First" title="Scroll to Content" class="uk-button uk-button-primary uk-button-large uk-border-rounded uk-margin-medium-bottom" uk-scroll="offset:200">Learn more</a>
            {% endblock %}
                
          </div>
              
          {% block single_header_bottom %}
            <div class="uk-position-z-index uk-container uk-position-bottom-center">
              <div class="uk-flex uk-flex-center uk-flex-middle">
                {% block single_subnav %}
                  <!-- <ul class="uk-subnav uk-subnav-divider uk-flex uk-flex-center uk-flex-middle" uk-margin="">
                        
                    <li class="uk-first-column"><a href="#First" title="Scroll to: Blinds" uk-scroll="offset:200">Day & Night</a></li>
                        
                    <li><a href="#Second" title="Scroll to: Curtains" uk-scroll="offset:200">Roman</a></li>
                        
                    <li><a href="#Third" title="Scroll to: Shutters" uk-scroll="offset:200">Roller</a></li>
                        
                    <li><a href="#Fourth" title="Scroll to: Shutters" uk-scroll="offset:200">Pleated</a></li>
                    
                    <li><a href="#Fifth" title="Scroll to: Shutters" uk-scroll="offset:200">Venetian</a></li>
                    
                    <li><a href="#Sixth" title="Scroll to: Shutters" uk-scroll="offset:200">Vertical</a></li>
                  
                      
                  </ul> -->
                {% endblock %}
              </div>
            </div>
          {% endblock %}
              
        </div>

      </header>
    {% endblock %}
    
    {% block single_content %}
      <section id="First" class="uk-background-muted uk-section uk-section-small">
        <div class="uk-container uk-container-large">
          <ul class="uk-child-width-1-3@m" uk-grid="masonry:true">
            <li class="">
              <div>
                <a href="#" class="uk-inline uk-transition-toggle">
                  <img class="uk-border-rounded" src="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-day-night-blinds-25-716x450.jpg" alt="">
                  <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
                  </div>
                </a>
                <div class="uk-padding uk-padding-remove-vertical pull-up-50">
                  <div class="uk-background-default uk-text-center uk-position-relative">
                    <div class="uk-position-top pull-up-15">
                      <span class="uk-label uk-label-danger label-large">Made-to-measure</span>
                    </div>
                    <div class="uk-padding">
                      <h3 class="uk-margin-small">Day & Night</h3>
                      <p class="uk-margin-small">Day & Night blinds are an innovative window solution which provide total light & privacy control. Combining 2 styles into one, our top-quality Roller Blind system is constructed whereby the fabric sections slide across one another to achieve a result depending on how much or how little light you want to enjoy.</p>
                      <!-- <a href="/blinds" class="uk-button uk-button-text">browse blinds</a> -->
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="">
              <div>
                <a href="#" class="uk-inline uk-transition-toggle">
                  <img class="uk-border-rounded" src="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-roller-blinds-59-716x450.jpg" alt="">
                  <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
                  </div>
                </a>
                <div class="uk-padding uk-padding-remove-vertical pull-up-50">
                  <div class="uk-background-default uk-text-center uk-position-relative">
                    <div class="uk-position-top pull-up-15">
                      <span class="uk-label uk-label-danger label-large">Made-to-measure</span>
                    </div>
                    <div class="uk-padding">
                      <h3 class="uk-margin-small">Roller Blinds</h3>
                      <p class="uk-margin-small">Our Roller blind range has a stunning mix of sheer, blackout, plain, printed and woven fabrics. With mix and match extras such as poles, finials and pull you will easily be able to find a blind that suits your taste.</p>
                      <!-- <a href="/shutters" class="uk-button uk-button-text">browse shutters</a> -->
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="">
              <div>
                <a href="#" class="uk-inline uk-transition-toggle">
                  <img class="uk-border-rounded" src="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-roman-blinds-plc-3-716x450.jpg" alt="">
                  <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
                  </div>
                </a>
                <div class="uk-padding uk-padding-remove-vertical pull-up-50">
                  <div class="uk-background-default uk-text-center uk-position-relative">
                    <div class="uk-position-top pull-up-15">
                      <span class="uk-label uk-label-danger label-large">Made-to-measure</span>
                    </div>
                    <div class="uk-padding">
                      <h3 class="uk-margin-small">Roman Blinds</h3>
                      <p class="uk-margin-small">Our range of Roman blinds feature enough stunning fabrics to satisfy even the most demanding of tastes. From vintage styles to eye-popping bright patterns, our roman blinds are colourful, fun & very classy, so you the customer have a fantastic range & choice to make your rooms extra special.</p>
                      <!-- <a href="/curtains" class="uk-button uk-button-text">browse curtains</a> -->
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="">
              <div>
                <a href="#" class="uk-inline uk-transition-toggle">
                  <img class="uk-border-rounded" src="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-pleated-blinds-27-716x450.jpg" alt="">
                  <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
                  </div>
                </a>
                <div class="uk-padding uk-padding-remove-vertical pull-up-50">
                  <div class="uk-background-default uk-text-center uk-position-relative">
                    <div class="uk-position-top pull-up-15">
                      <span class="uk-label uk-label-danger label-large">Made-to-measure</span>
                    </div>
                    <div class="uk-padding">
                      <h3 class="uk-margin-small">Pleated Blinds</h3>
                      <p class="uk-margin-small">Pleated blinds offer a neat, tailored style which perfectly fit into the frame of your window. The versatile design with its gathered effect offers a fashionable modern look especially in conservatories, skylights and large glazed areas. These light-weight blinds come in two types: free hanging and perfect fit.</p>
                      <!-- <a href="/blinds" class="uk-button uk-button-text">browse blinds</a> -->
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="">
              <div>
                <a href="#" class="uk-inline uk-transition-toggle">
                  <img class="uk-border-rounded" src="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-wooden-venetian-blinds-61-716x450.jpg" alt="">
                  <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
                  </div>
                </a>
                <div class="uk-padding uk-padding-remove-vertical pull-up-50">
                  <div class="uk-background-default uk-text-center uk-position-relative">
                    <div class="uk-position-top pull-up-15">
                      <span class="uk-label uk-label-danger label-large">Made-to-measure</span>
                    </div>
                    <div class="uk-padding">
                      <h3 class="uk-margin-small">Wooden Venetian Blinds</h3>
                      <p class="uk-margin-small">Available with or without tapes, in complementary, contrasting or contemporary prints, Wood Venetians are the must-have blind for any home. Our Wooden Venetian ranges feature a variety of popular & contemporary colours.</p>
                      <!-- <a href="/curtains" class="uk-button uk-button-text">browse curtains</a> -->
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="">
              <div>
                <a href="#" class="uk-inline uk-transition-toggle">
                  <img class="uk-border-rounded" src="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-vertical-blinds-24-716x450.jpg" alt="">
                  <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
                  </div>
                </a>
                <div class="uk-padding uk-padding-remove-vertical pull-up-50">
                  <div class="uk-background-default uk-text-center uk-position-relative">
                    <div class="uk-position-top pull-up-15">
                      <span class="uk-label uk-label-danger label-large">Made-To-Measure</span>
                    </div>
                    <div class="uk-padding">
                      <h3 class="uk-margin-small">Vertical Blinds</h3>
                      <p class="uk-margin-small">Our Vertical blind fabric range offers a wonderful selection of compositions, colours and designs and yet does not compromise on quality. All of our made-to-measure blinds are manufactured to the highest standard to ensure you get the window dressing solution you are looking for.</p>
                      <!-- <a href="/shutters" class="uk-button uk-button-text">browse shutters</a> -->
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
    {% endblock %}
    
    {% block single_footer %}
      {% block single_footer_guarantee %}
        <section id="CTA" class="uk-background-default uk-margin-medium-bottom  uk-margin-medium-top">
          <div class="uk-container">
            <div class="value-message-strip__wrapper value-message-strip__image-border" style="background-color:  #0a6060; color:  #ffffff;">
              <div class="value-message-strip__items">
              <div class="value-message-strip__item">
              <div class="value-message-strip__item-icon">
              <svg viewBox="0 0 69 99" xmlns="http://www.w3.org/2000/svg">
              <path fill="transparent" d="M53.179 48.607l-.5 2.5-11.6 42.9c-.4 1.6-1.6 2.9-3.1 3.7-.6.3-1.3.5-2 .6-1 .1-2 .1-2.9-.2l-27.9-7.5c-3.5-1-5.7-4.4-4.8-7.6l12.1-44.8c.7-2.4 3.8-4.3 4.4-4.6l11.4-6.2v-.1l2.3-1.3 3.1-1.7c.1 0 .1-.1.2-.1 2.7-.9 5.6-.1 7.5 2l.1.2 10.3 16.7.1.1c1.1 1.6 1.5 3.5 1.3 5.4zm-14.3-9.2c0-2.5-2-4.5-4.5-4.5s-4.5 2-4.5 4.5 2 4.5 4.5 4.5 4.5-2 4.5-4.5z"></path>
              <path fill=" #ffffff" d="M62.979 18.707c-4-3.5-8.9-5.9-14.2-6.9-5.1-1.1-9.9-.6-15-.1-.8.1-1.7.2-2.5.2.6-2.5 1.5-5 2.6-7.3.7-1.6-1.8-2.5-2.5-1-1.2 2.7-2.1 5.6-2.8 8.5-8.7.3-19-1.1-20.6-11-.1-.7-.9-1.2-1.6-1-.7.1-1.2.9-1 1.6 1.5 8.7 9 12.4 17.1 13.1 1.9.2 3.8.2 5.7.1-.6 3.9-.6 7.9.1 11.7l-11.7 6.6c-.6.4-3.8 2.3-4.4 4.8l-12 45.9c-.9 3.3 1.4 6.7 5 7.7l28.7 7.3c1 .2 2 .3 3 .1.7-.1 1.4-.4 2-.7 1.5-.8 2.7-2.1 3.1-3.8l11.3-44c4.5.1 8.7-1.8 11.6-5.2 6.7-7.3 5.3-19.9-1.9-26.6zm-11.8 29.1c-3.7-.7-7.1-2.2-10-4.6-.3-.3-.7-.5-1-.8 1.7-3.1.6-6.9-2.5-8.6-1.3-.7-2.7-.9-4.1-.7-.2 0-.4.1-.5.1-3.4 1.1-5.2 4.6-4.2 8 .9 2.9 3.7 4.7 6.8 4.4 1-.2 2-.6 2.8-1.2 3.4 3 7.6 5 12.1 5.9l-11.2 43.6c-.2.9-.9 1.7-1.7 2.1-1 .5-2.1.6-3.1.3l-28.6-7.3c-2.1-.4-3.5-2.4-3.1-4.4l11.8-46c.2-.9 1.6-2.2 3.2-3.1l11-6.2 2.3-1.3 3.8-2.2c1.7-.5 3.5 0 4.7 1.2l10.7 16.8c.7 1.2 1 2.6.8 4zm-16.8-12.1c2-.1 3.8 1.4 3.9 3.4 0 .5 0 .9-.2 1.4-1.4-1.5-2.6-3.1-3.7-4.8zm2.1 6.9c-.4.2-.8.4-1.2.5-2 .3-3.9-1-4.3-3-.2-1.2.2-2.4 1-3.2.8 1.3 1.7 2.6 2.7 3.8.5.6 1.1 1.2 1.8 1.9zm21 4.8c-1.2.4-2.4.6-3.7.7.2-1.9-.3-3.9-1.2-5.5 0 0 0-.1-.1-.1l-10.8-17-.1-.2c-1.9-2.1-5-2.9-7.7-2l-.2.1-3.2 1.8c-.5-3.5-.4-7.1.2-10.6 6-.5 12.1-1.4 18.1 0 5.1 1 9.7 3.5 13.4 7.1 3.3 3.6 4.5 8.4 4.3 13.2-.1 5.6-3.7 10.5-9 12.5zm-24 8.1c-4.7-1.2-8.5 1.3-11.3 7.5l11.3 2.8-.8 3.1-11.5-2.8-.4 1.4-.4 1.5-.2 1.1 10.3 2.6-.8 3.1-9.9-2.5c-.3 2.6.2 5.2 1.4 7.5 1.2 2 3.2 3.4 5.4 3.9 2.4.6 4.9.6 7.3.1l-.9 3.6c-2.5.5-5 .4-7.4-.2-3.2-.6-6-2.6-7.7-5.4-1.6-2.7-2.2-6.2-1.9-10.5l-3.7-.9.8-3.1 3.4.8.2-1 .3-1.1.5-1.9-3.4-.8.8-3.1 3.6.9c1.6-4.1 3.8-7 6.6-8.8 2.8-1.8 6.2-2.3 9.4-1.4 2.9.7 5.5 2.2 7.6 4.4l-2.4 3c-1.8-1.8-3.9-3.1-6.2-3.8z"></path>
              </svg>

              </div>
              <div class="value-message-strip__item-text">
              SOLARIS  Price Promise
              </div>
              </div>
              <div class="value-message-strip__item">
              <div class="value-message-strip__item-icon">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 80 81" xml:space="preserve">
              <path stroke=" #ffffff" fill="none" stroke-width="3" stroke-miterlimit="10" d="M49.8 20.1L38.1 37.4l-8.5-8.3"></path>
              <path stroke=" #ffffff" fill="none" stroke-width="3" stroke-miterlimit="10" d="M54.5 48.9L63 71.8l-10.1-3.5-5.1 9.3-8.4-19.1-5.9 12.6-5.2-9.3-10.1 3.5 6.1-16.9M39.9 1.6c4.2 0 8.4 1.1 12.1 3.1 3.7 2 6.9 4.9 9.3 8.3 2.3 3.5 3.8 7.5 4.3 11.7.4 4.2-.1 8.5-1.7 12.4-1.6 3.9-4.1 7.4-7.4 10.1-3.2 2.8-7.1 4.6-11.3 5.5C36.8 54.5 28 52 21.8 46c-4.9-4.9-7.7-11.5-7.7-18.5 0-3.4.6-6.8 1.9-9.9 1.3-3.2 3.2-6 5.6-8.4C24 6.9 26.9 5 30 3.7c3.1-1.3 6.5-2 9.9-2.1z"></path>
              </svg>

              </div>
              <div class="value-message-strip__item-text">
              Peace of mind guaranteed 
              </div>
              </div>
              <div class="value-message-strip__item">
              <div class="value-message-strip__item-icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48.09 47.77">
              <path fill=" #ffffff" d="M35.4,20.14l2.16,1.1a6.53,6.53,0,0,1-5.79,3.24,7.28,7.28,0,0,1-7.25-5.22H23.4V17.81h.87a6.81,6.81,0,0,1-.05-.78,7.22,7.22,0,0,1,.05-.82H23.4V14.77h1.15a7.25,7.25,0,0,1,7.22-5.18,6.51,6.51,0,0,1,5.79,3.24l-2.16,1.1a4.27,4.27,0,0,0-3.63-2.1,4.78,4.78,0,0,0-4.51,2.94h5.83v1.44H26.85c0,.26,0,.54,0,.82s0,.52,0,.78h6.24v1.45H27.24a4.78,4.78,0,0,0,4.53,3A4.22,4.22,0,0,0,35.4,20.14Z"></path>
              <path fill=" #ffffff" d="M30.94,32.92a15.79,15.79,0,1,1,15.8-15.79A15.81,15.81,0,0,1,30.94,32.92Zm0-29.58a13.79,13.79,0,1,0,13.8,13.79A13.81,13.81,0,0,0,30.94,3.34Z"></path>
              <path fill="none" d="M13.46,28.28H15.7c-.37-.54-.73-1.1-1-1.67A4.71,4.71,0,0,0,13.46,28.28Z"></path>
              <path fill="none" d="M19.29,32.76H13.44a4.76,4.76,0,0,0,4.53,3,4.22,4.22,0,0,0,3.62-2.09l2.16,1.1A6.55,6.55,0,0,1,18,38a7.28,7.28,0,0,1-7.25-5.23H9.6V31.32h.86c0-.26,0-.52,0-.78s0-.56,0-.82H9.6V28.28h1.14a6.86,6.86,0,0,1,2.89-3.91A18,18,0,0,1,12.43,18c0-.09,0-.17,0-.25a13.77,13.77,0,1,0,17.4,18.22,17.85,17.85,0,0,1-10.56-3.85Z"></path>
              <path fill="none" d="M13,30.54c0,.26,0,.52,0,.78h5.36a16.94,16.94,0,0,1-1.57-1.6H13.05C13,30,13,30.26,13,30.54Z"></path>
              <path fill=" #ffffff" d="M10.74,28.28H9.6v1.44h.86c0,.26,0,.54,0,.82s0,.52,0,.78H9.6v1.44h1.12A7.28,7.28,0,0,0,18,38a6.55,6.55,0,0,0,5.78-3.24l-2.16-1.1A4.22,4.22,0,0,1,18,35.74a4.76,4.76,0,0,1-4.53-3h5.85v-.69c-.31-.24-.59-.49-.88-.75H13.05c0-.26,0-.52,0-.78s0-.56,0-.82h3.79q-.6-.69-1.14-1.44H13.46a4.71,4.71,0,0,1,1.19-1.67,19.7,19.7,0,0,1-1-2.24A6.86,6.86,0,0,0,10.74,28.28Z"></path>
              <path fill=" #ffffff" d="M19.29,31.32h-.88c.29.26.57.51.88.75Z"></path>
              <path fill=" #ffffff" d="M29.85,35.92A13.77,13.77,0,1,1,12.45,17.7a17.64,17.64,0,0,1,.17-2.19A15.79,15.79,0,1,0,32,35.87c-.52.05-1,.08-1.57.08C30.24,36,30.05,35.93,29.85,35.92Z"></path>
              </svg>

              </div>
              <div class="value-message-strip__item-text">
              Multi-blind discounts
              </div>
              </div>
              </div>
              <div class="value-message-strip__tagline">It all adds up to value you can measure</div>
            </div>
          </div>
        </section>
      {% endblock %}
      {% block single_footer_carousel %}
        <section id="AboutUsCarousel" class="uk-background-muted uk-section uk-section-small">
          <div class="uk-container uk-container-large">
            <h2 class="uk-margin-remove">Discover more about Solaris</h2>
            <div class="uk-position-relative">
              <div class="swiper-two mySwiper3 uk-overflow-hidden uk-margin-medium-top">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div>
                      <a href="/about" class="uk-inline uk-transition-toggle">
                        <img class="uk-border-rounded" src="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-pleated-blinds-25-716x450.jpg" alt="">
                        <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
                        </div>
                      </a>
                      <div class="uk-padding uk-padding-small uk-padding-remove-horizontal uk-position-relative">
                        <h3 class="uk-margin-remove">About us</h3>
                        <p class="uk-margin-small">Blinds, Curtains & Shutters in Westmeath, Longford, Meath, Kildare, Offaly, Cavan, & Dublin.</p>
                        <a href="/about" class="uk-button uk-button-text uk-margin-remove">Learn more</a>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div>
                      <a href="/contact" class="uk-inline uk-transition-toggle">
                        <img class="uk-border-rounded" src="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-curtains-26-716x450.jpg" alt="">
                        <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
                        </div>
                      </a>
                      <div class="uk-padding uk-padding-small uk-padding-remove-horizontal uk-position-relative">
                        <h3 class="uk-margin-remove">Contact us</h3>
                        <p class="uk-margin-small">Contact us today so we can help guide your decisions to redesigning your home or office.</p>
                        <a href="/contact" class="uk-button uk-button-text uk-margin-remove">Get in touch</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-pagination uk-margin-top"></div>
            </div>
          </div>
        </section>
      {% endblock %}
      {% block single_footer_hero %}
        <section id="Hero">
          <ul class="uk-grid-collapse uk-grid-match uk-child-width-1-2@m" uk-grid>
            <li class="image-half">
              <a href="/contact" class="uk-inline">
                <img src="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-day-night-blinds-20-1920x1200.jpg" width="960" height="720" alt="">
                <div class="uk-overlay-default uk-position-cover">
                  <div class="uk-position-center">
                    <!-- <i class="fa-solid fa-images"></i> -->
                  </div>
                </div>
              </a>
            </li>
            <li class="uk-position-relative content-half">
              <div class="uk-background-primary uk-light uk-flex uk-flex-center uk-flex-middle uk-height-1-1">
                <div class="hero-content uk-width-2-3@m uk-text-center uk-padding-small">
                  <h2>Solaris Blinds & Curtains</h2>
                  <p class="uk-text-lead uk-margin-remove-bottom">With over 40 years of experience in the window blind & curtain industry we are committed to excellent customer care and providing a personal service to ensure all our products are of the highest standard of craftsmanship and excellent value for money.</p>
                  <a href="/contact" class="uk-button uk-button-default uk-button-large uk-border-rounded uk-margin-medium-top">Learn more</a>
                </div>
              </div>
              <div class="uk-flex uk-flex-bottom">
                <div class="pull-up-1-1 uk-width-1-1">
                  <div class="uk-background-secondary uk-text-center uk-padding-small uk-text-primary">
                    <span class="uk-text-primary">Same product, same service. We'll match the price.</span>
                  </div>
                </div>
              </div>
              <!-- <div class="uk-position-bottom uk-background-secondary uk-width-1-1 uk-text-center uk-padding-small uk-text-primary">
                Same product, same service. We'll match the price.
              </div> -->
            </li>
          </ul>
        </section>
      {% endblock %}
    {% endblock %}
  
  </article>
{% endblock %}