@import "node_modules/lightgallery.js/src/sass/lightgallery.scss";

.rmcc-block .uk-height-small {
  height: 150px!important;
}
.rmcc-block .uk-height-medium {
  height: 300px!important;
}
.rmcc-block .uk-height-large {
  height: 450px!important;
}

// cover section
.overlay-contained {
  overflow: hidden
}
.theme-position {
  position: absolute;
  box-sizing: border-box;
  width: -webkit-fill-available;
  max-width: 100%;
}
.position-middle {
  top: 50%;
  transform: translate(-30px,-50%);
}
.position-top {
  top: 0;
  left: 0;
  right: 0;
}
.position-bottom {
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
}

// products carousel section
.products-carousel-swiper .swiper-button-next:after, 
.products-carousel-swiper .swiper-button-prev:after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.products-carousel-swiper .swiper-button-next.swiper-button-disabled, 
.products-carousel-swiper .swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}
.products-carousel-swiper .swiper-button-prev:after, 
.products-carousel-swiper .swiper-container-rtl .swiper-button-next:after,
.products-carousel-swiper .swiper-button-next:after, 
.products-carousel-swiper .swiper-container-rtl .swiper-button-prev:after {
    /* content: 'prev'; */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 28px;
  color: #bfbfbf;
}
.products-carousel-swiper .swiper-button-prev:after, 
.products-carousel-swiper .swiper-container-rtl .swiper-button-next:after {
  content: "\f053";
}
.products-carousel-swiper .swiper-button-next:after, 
.products-carousel-swiper .swiper-container-rtl .swiper-button-prev:after {
  content: "\f054";
}

// sswiper pagination
.swiper-pagination-bullet-active,
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #cf372d!important;
}

// video popup section
.video-container__play svg {
  width: 80px;
  height: 80px;
  fill: transparent;
  stroke: #0e0e0e;
}

// testimonials section
.testimonials__star {
  margin: 0 2px;
  color: #eeaf2e;
}

// adv search section
#response_search_results_mobile.search-results-ajax {
  position: relative;
  width: 100%;
  background-color: #fff;
  border-left: none;
  border-right: none;
  z-index: 9999999;
  box-shadow: none;
  margin-top: 0;
}
#response_search_results_mobile .uk-link-text
#response_search_results_mobile.search-results-ajax::-webkit-scrollbar {
  width: 2px;
  background-color: #f7f7f7;
}
#response_search_results_mobile.search-results-ajax::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #ff0000;
}
#response_search_results_mobile.search-results-ajax::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: #f7f7f7;
  border-radius: 0;
}
.top-search-bar-mobile .uk-search-input {
  font-size: 0.8rem;
  border: none;
  padding-left: 15px;
}
.top-search-bar-mobile  .uk-search-icon-flip {
  background-color: #fff;
  color: #f7f7f7!important;
}
/* ajax search css */
.search-results-ajax {
  margin-top: 40px;
  position: absolute;
  width: 100%;
  background-color: #fff;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  z-index: 9999999;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.1);
  box-shadow: 0 3px 6px rgba(0,0,0,.1);
}
.search-results-ajax ul {
  padding: 0;
  margin: 10px 0;
}
.search-results-ajax ul li {
  list-style: none;
}
.search-results-ajax ul li a {
  display: block;
  padding: 8px 15px;
  font-size: 13px;
}
.search-results-ajax ul li a:hover {
  background-color: #f5f5f5;
  color: #ee3131;
}
.search-results-ajax ul li a, .search-results-ajax ul li a:hover {
  text-decoration: none;
}
.search-results-ajax .ajax-search-meta {
  font-size: 11px;
}
.uk-overlay-faint {
  background: #1c1c1c0a;
}