{% extends 'single.twig' %}

{% block single_desc %}
  <p class="uk-text-lead uk-margin-medium-bottom">From original concept to final fit out, our expert team of designers, tailors and craft workers will follow your design brief to ensure you of quality bespoke window treatments of the highest standard to suit any room. We cover Westmeath, Longford, Meath, Kildare, Offaly, Cavan, & Dublin.</p>
{% endblock %}

{% block cover_img %}style="background-image: url(https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-curtains-4-1920x1200.jpg);"{% endblock %}

{% block single_content %}
  <section id="First" class="uk-background-muted uk-section uk-section-small">
    <div class="uk-container uk-container-large">
      <ul class="uk-child-width-1-2@m" uk-grid="masonry:true">
        <li class="" uk-lightbox>
          <div>
            <a href="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-curtains-10-716x450.jpg" class="uk-inline uk-transition-toggle">
              <img class="uk-border-rounded" src="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-curtains-10-716x450.jpg" alt="">
              <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
              </div>
            </a>
            <div class="uk-padding uk-padding-remove-vertical pull-up-50">
              <div class="uk-background-default uk-text-center uk-position-relative">
                <div class="uk-position-top pull-up-15">
                  <span class="uk-label uk-label-danger label-large">Made-to-measure</span>
                </div>
                <div class="uk-padding">
                  <h3 class="uk-margin-small">Quality & Made to Measure Curtains</h3>
                  <p class="uk-margin-small">At Solaris, we know how curtains can make a room look special so our collection of Curtains are manufactured & hand-finished to the highest possible standard & quality. All our curtains are Made to Measure to fit your specific room specs.</p>
                  <!-- <a href="/blinds" class="uk-button uk-button-text">browse blinds</a> -->
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="" uk-lightbox>
          <div>
            <a href="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-curtains-4-716x450.jpg" class="uk-inline uk-transition-toggle">
              <img class="uk-border-rounded" src="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-curtains-4-716x450.jpg" alt="">
              <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
              </div>
            </a>
            <div class="uk-padding uk-padding-remove-vertical pull-up-50">
              <div class="uk-background-default uk-text-center uk-position-relative">
                <div class="uk-position-top pull-up-15">
                  <span class="uk-label uk-label-danger label-large">Made-to-measure</span>
                </div>
                <div class="uk-padding">
                  <h3 class="uk-margin-small">Beautiful Collection of Fabrics</h3>
                  <p class="uk-margin-small">We stock a beautiful selection of top-quality Fabrics for our Curtains which are handpicked to fit today’s exciting new interior trends as well as nurturing some timeless design classics.</p>
                  <!-- <a href="/shutters" class="uk-button uk-button-text">browse shutters</a> -->
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="" uk-lightbox>
          <div>
            <a href="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-curtains-3-716x450.jpg" class="uk-inline uk-transition-toggle">
              <img class="uk-border-rounded" src="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-curtains-3-716x450.jpg" alt="">
              <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
              </div>
            </a>
            <div class="uk-padding uk-padding-remove-vertical pull-up-50">
              <div class="uk-background-default uk-text-center uk-position-relative">
                <div class="uk-position-top pull-up-15">
                  <span class="uk-label uk-label-danger label-large">Made-to-measure</span>
                </div>
                <div class="uk-padding">
                  <h3 class="uk-margin-small">Choice of Curtain Linings</h3>
                  <p class="uk-margin-small">Our curtains come with a selection of quality linings, from the Blackout lining which blocks out light making it ideal for your Bedroom, to Thermal linings which are heavyweight & add thermal advantages to your home. Our Lightweight standard Cotton Sateen linings give a quality handle to your chosen face fabric.</p>
                  <!-- <a href="/curtains" class="uk-button uk-button-text">browse curtains</a> -->
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="" uk-lightbox>
          <div>
            <a href="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-curtains-21-716x450.jpg" class="uk-inline uk-transition-toggle">
              <img class="uk-border-rounded" src="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-curtains-21-716x450.jpg" alt="">
              <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
              </div>
            </a>
            <div class="uk-padding uk-padding-remove-vertical pull-up-50">
              <div class="uk-background-default uk-text-center uk-position-relative">
                <div class="uk-position-top pull-up-15">
                  <span class="uk-label uk-label-danger label-large">Made-to-measure</span>
                </div>
                <div class="uk-padding">
                  <h3 class="uk-margin-small">Choice of Curtain Heading styles</h3>
                  <p class="uk-margin-small">Pleated blinds offer a neat, tailored style which perfectly fit into the frame of your window. The versatile design with its gathered effect offers a fashionable modern look especially in conservatories, skylights and large glazed areas. These light-weight blinds come in two types: free hanging and perfect fit.</p>
                  <!-- <a href="/blinds" class="uk-button uk-button-text">browse blinds</a> -->
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
{% endblock %}