{% extends 'single.twig' %}

{% block single_desc %}
  <p class="uk-text-lead uk-margin-medium-bottom">Day & Night blinds were created to let you enjoy the options of both having privacy while simultaneously being able to restrict light throughout the day. We cover Westmeath, Longford, Meath, Kildare, Offaly, Cavan, & Dublin.</p>
{% endblock %}

{% block cover_img %}style="background-image: url(https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-day-night-blinds-10-1920x1200.jpg);"{% endblock %}

{% block single_content %}
  <section id="First" class="uk-background-muted uk-section uk-section-small">
    <div class="uk-container uk-container-large">
      <ul class="uk-child-width-1-2@m uk-flex uk-flex-center" uk-grid="masonry:true">
        <li class="" uk-lightbox>
          <div>
            <a href="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-day-night-blinds-25-716x450.jpg" class="uk-inline uk-transition-toggle">
              <img class="uk-border-rounded" src="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-day-night-blinds-25-716x450.jpg" alt="">
              <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
              </div>
            </a>
            <div class="uk-padding uk-padding-remove-vertical pull-up-50">
              <div class="uk-background-default uk-text-center uk-position-relative">
                <div class="uk-position-top pull-up-15">
                  <span class="uk-label uk-label-danger label-large">Made-to-measure</span>
                </div>
                <div class="uk-padding">
                  <h3 class="uk-margin-small">What are they?</h3>
                  <p class="uk-margin-small">Day & Night blinds are a combination between roller blind and voile (a semi-sheer lightweight fabric made from a blend of cotton and linen / polyester.) and opaque panels which can be lined up based upon your light control specification giving you greater flexibility over light and privacy. They are available within a whole range of trendy shades to add contemporary style to your home.</p>
                  <!-- <a href="/blinds" class="uk-button uk-button-text">browse blinds</a> -->
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="" uk-lightbox>
          <div>
            <a href="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-day-night-blinds-20-716x450.jpg" class="uk-inline uk-transition-toggle">
              <img class="uk-border-rounded" src="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-day-night-blinds-20-716x450.jpg" alt="">
              <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
              </div>
            </a>
            <div class="uk-padding uk-padding-remove-vertical pull-up-50">
              <div class="uk-background-default uk-text-center uk-position-relative">
                <div class="uk-position-top pull-up-15">
                  <span class="uk-label uk-label-danger label-large">Made-to-measure</span>
                </div>
                <div class="uk-padding">
                  <h3 class="uk-margin-small">How Do They Work?</h3>
                  <p class="uk-margin-small">Day & Night blinds are essentially a type of Roller Blinds, but unlike regular Roller Blinds are made up of two separate layers of fabric. Each panel either consists of a semi-sheer or opaque fabric which can then be adjusted to either let more light in or block it out. Filtering light between panels can be achieved by operating a pulley system via either a standard chain or pull-cord or remotely when installed via motorised / electric blinds.</p>
                  <!-- <a href="/shutters" class="uk-button uk-button-text">browse shutters</a> -->
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="" uk-lightbox>
          <div>
            <a href="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-day-night-blinds-15-716x450.jpg" class="uk-inline uk-transition-toggle">
              <img class="uk-border-rounded" src="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-day-night-blinds-15-716x450.jpg" alt="">
              <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
              </div>
            </a>
            <div class="uk-padding uk-padding-remove-vertical pull-up-50">
              <div class="uk-background-default uk-text-center uk-position-relative">
                <div class="uk-position-top pull-up-15">
                  <span class="uk-label uk-label-danger label-large">Made-to-measure</span>
                </div>
                <div class="uk-padding">
                  <h3 class="uk-margin-small">What To Consider</h3>
                  <p class="uk-margin-small">Translucent fabric panels operate by allowing light to pass through, yet is still able to keep prying at bay. Sliding the panels open will let the light in and  sliding them closed will then reduce light from coming through. Day and Night blinds are available for contemporary spaces as motorised options are available; although these blinds are not suitable for sloping or shaped windows.</p>
                  <!-- <a href="/curtains" class="uk-button uk-button-text">browse curtains</a> -->
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
{% endblock %}