{% extends 'single.twig' %}

{% block single_desc %}
  <p class="uk-text-lead uk-margin-medium-bottom">A classic choice favoured by most, the Pleated Blind offers a neat, stylish & tailored style which perfectly fit into the frame of your window. The versatile design with its gathered effect offers a fashionable & modern look, especially in conservatories, skylights & large glazed areas. We cover Westmeath, Longford, Meath, Kildare, Offaly, Cavan, & Dublin.</p>
{% endblock %}

{% block cover_img %}style="background-image: url(https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-pleated-blinds-25-1920x1200.jpg);"{% endblock %}

{% block single_content %}
  <section id="First" class="uk-background-muted uk-section uk-section-small">
    <div class="uk-container uk-container-large">
      <ul class="uk-child-width-1-2@m uk-flex uk-flex-center" uk-grid="masonry:true">
        <li class="" uk-lightbox>
          <div>
            <a href="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-pleated-blinds-27-716x450.jpg" class="uk-inline uk-transition-toggle">
              <img class="uk-border-rounded" src="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-pleated-blinds-27-716x450.jpg" alt="">
              <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
              </div>
            </a>
            <div class="uk-padding uk-padding-remove-vertical pull-up-50">
              <div class="uk-background-default uk-text-center uk-position-relative">
                <div class="uk-position-top pull-up-15">
                  <span class="uk-label uk-label-danger label-large">Made-to-measure</span>
                </div>
                <div class="uk-padding">
                  <h3 class="uk-margin-small">Stunning range of quality fabrics</h3>
                  <p class="uk-margin-small">Our Pleated blind collection come in a range of fabrics & styles from contemporary to specialist performance fabrics to help with heat control.</p>
                  <!-- <a href="/blinds" class="uk-button uk-button-text">browse blinds</a> -->
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="" uk-lightbox>
          <div>
            <a href="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-day-night-blinds-20-716x450.jpg" class="uk-inline uk-transition-toggle">
              <img class="uk-border-rounded" src="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-day-night-blinds-20-716x450.jpg" alt="">
              <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
              </div>
            </a>
            <div class="uk-padding uk-padding-remove-vertical pull-up-50">
              <div class="uk-background-default uk-text-center uk-position-relative">
                <div class="uk-position-top pull-up-15">
                  <span class="uk-label uk-label-danger label-large">Made-to-measure</span>
                </div>
                <div class="uk-padding">
                  <h3 class="uk-margin-small">Perfect for rooms with glass roofs & panels</h3>
                  <p class="uk-margin-small">Because of the versatility of pleated fabric, a Pleated Blind suits the shape of the glazing in most conservatories or glass roof extension. Coupled with its solar reflective properties, this blind is the most sensible option to ensure the glass roofed room is habitable no matter what the weather is doing outside.</p>
                  <!-- <a href="/curtains" class="uk-button uk-button-text">browse curtains</a> -->
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="" uk-lightbox>
          <div>
            <a href="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-pleated-blinds-25-716x450.jpg" class="uk-inline uk-transition-toggle">
              <img class="uk-border-rounded" src="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-pleated-blinds-25-716x450.jpg" alt="">
              <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
              </div>
            </a>
            <div class="uk-padding uk-padding-remove-vertical pull-up-50">
              <div class="uk-background-default uk-text-center uk-position-relative">
                <div class="uk-position-top pull-up-15">
                  <span class="uk-label uk-label-danger label-large">Made-to-measure</span>
                </div>
                <div class="uk-padding">
                  <h3 class="uk-margin-small">Perfect for heat control</h3>
                  <p class="uk-margin-small">Pleated fabrics are treated with specialist solar reflective coatings, which help to keep the room warm in winter and cool in summer.</p>
                  <!-- <a href="/shutters" class="uk-button uk-button-text">browse shutters</a> -->
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="" uk-lightbox>
          <div>
            <a href="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-pleated-blinds-12-716x450.jpg" class="uk-inline uk-transition-toggle">
              <img class="uk-border-rounded" src="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-pleated-blinds-12-716x450.jpg" alt="">
              <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
              </div>
            </a>
            <div class="uk-padding uk-padding-remove-vertical pull-up-50">
              <div class="uk-background-default uk-text-center uk-position-relative">
                <div class="uk-position-top pull-up-15">
                  <span class="uk-label uk-label-danger label-large">Made-to-measure</span>
                </div>
                <div class="uk-padding">
                  <h3 class="uk-margin-small">Pleated Blinds come in various types including:</h3>
                  <p class="uk-margin-small">Freehang, Tabbed, Day & Night, Top Down Bottom Up, Roof Blinds, Perfect Fit, Duopleat™, Conservatory & more</p>
                  <!-- <a href="/curtains" class="uk-button uk-button-text">browse curtains</a> -->
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
{% endblock %}