{% extends 'single.twig' %}

{% block cover_img %}style="background-image: url(https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-day-night-blinds-20-1920x1200.jpg);"{% endblock %}

{% block single_header_title %}
  <h1 id="CoverBlockTitle" class="uk-h1 uk-text-primary uk-margin-remove">{{ post.title }}</h1>
{% endblock %}

{% block single_header_divider %}
{% endblock %}

{% block single_desc %}
{% endblock %}

{% block single_header_btn %}
{% endblock %}

{% block single_content %}
  <section id="First" class="uk-background-muted uk-section uk-section-small">
    <div class="uk-container">
      <p>Blinds, Curtains & Shutters in Westmeath, Longford, Meath, Kildare, Offaly, Cavan, & Dublin.</p>
      
      <p>With over 40 years of experience in the window blind & curtain industry we are committed to excellent customer care and providing a personal service to ensure all our products are of the highest standard of craftsmanship and excellent value for money.</p>
      
      <p>We cover Mullingar, Navan, Kells, Cellbridge, Maynooth, Trim, Edenderry, Longford town, Athlone, Tullamore, Dunboyne, Leixlip, Enfield.</p>
    </div>
  </section>
{% endblock %}

{% block single_footer_carousel %}
{% endblock %}