{% extends 'single.twig' %}

{% block single_desc %}
  <p class="uk-text-lead uk-margin-medium-bottom">Specifically designed with an Aluminium headrails, our Vertical Blinds are very suitable for large windows like bay windows. In offices and the home they are ideal to control light and provide some much needed privacy. Solaris Vertical Blinds are available in a selection of colours & fabrics. We cover Westmeath, Longford, Meath, Kildare, Offaly, Cavan, & Dublin.</p>
{% endblock %}

{% block cover_img %}style="background-image: url(https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-vertical-blinds-10-1920x1200.jpg);"{% endblock %}

{% block single_content %}
  <section id="First" class="uk-background-muted uk-section uk-section-small">
    <div class="uk-container uk-container-large">
      <ul class="uk-child-width-1-2@m uk-flex uk-flex-center" uk-grid="masonry:true">
        <li class="" uk-lightbox>
          <div>
            <a href="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-vertical-blinds-1-716x450.jpg" class="uk-inline uk-transition-toggle">
              <img class="uk-border-rounded" src="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-vertical-blinds-1-716x450.jpg" alt="">
              <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
              </div>
            </a>
            <div class="uk-padding uk-padding-remove-vertical pull-up-50">
              <div class="uk-background-default uk-text-center uk-position-relative">
                <div class="uk-position-top pull-up-15">
                  <span class="uk-label uk-label-danger label-large">Made-to-measure</span>
                </div>
                <div class="uk-padding">
                  <h3 class="uk-margin-small">Made to measure Vertical Blinds</h3>
                  <p class="uk-margin-small">All of our made-to-measure Vertical blinds are manufactured to the highest standard to ensure you get the window dressing solution you are looking for.</p>
                  <!-- <a href="/blinds" class="uk-button uk-button-text">browse blinds</a> -->
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="" uk-lightbox>
          <div>
            <a href="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-vertical-blinds-23-716x450.jpg" class="uk-inline uk-transition-toggle">
              <img class="uk-border-rounded" src="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-vertical-blinds-23-716x450.jpg" alt="">
              <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
              </div>
            </a>
            <div class="uk-padding uk-padding-remove-vertical pull-up-50">
              <div class="uk-background-default uk-text-center uk-position-relative">
                <div class="uk-position-top pull-up-15">
                  <span class="uk-label uk-label-danger label-large">Made-to-measure</span>
                </div>
                <div class="uk-padding">
                  <h3 class="uk-margin-small">Choice of Stunning Fabrics</h3>
                  <p class="uk-margin-small">Our Vertical blind fabric range offers a wonderful selection of compositions, colours and designs that do not compromise on quality.</p>
                  <!-- <a href="/shutters" class="uk-button uk-button-text">browse shutters</a> -->
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="" uk-lightbox>
          <div>
            <a href="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-vertical-blinds-2-716x450.jpg" class="uk-inline uk-transition-toggle">
              <img class="uk-border-rounded" src="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-vertical-blinds-2-716x450.jpg" alt="">
              <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
              </div>
            </a>
            <div class="uk-padding uk-padding-remove-vertical pull-up-50">
              <div class="uk-background-default uk-text-center uk-position-relative">
                <div class="uk-position-top pull-up-15">
                  <span class="uk-label uk-label-danger label-large">Made-to-measure</span>
                </div>
                <div class="uk-padding">
                  <h3 class="uk-margin-small">Specialist Coatings from Teflon® to Flame Retardant</h3>
                  <p class="uk-margin-small">There is a fantastic range of neutral or vibrant plains, textures and patterns with a number of specialist coatings from Teflon® to Flame Retardant.</p>
                  <!-- <a href="/curtains" class="uk-button uk-button-text">browse curtains</a> -->
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="" uk-lightbox>
          <div>
            <a href="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-vertical-blinds-21-716x450.jpg" class="uk-inline uk-transition-toggle">
              <img class="uk-border-rounded" src="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-vertical-blinds-21-716x450.jpg" alt="">
              <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
              </div>
            </a>
            <div class="uk-padding uk-padding-remove-vertical pull-up-50">
              <div class="uk-background-default uk-text-center uk-position-relative">
                <div class="uk-position-top pull-up-15">
                  <span class="uk-label uk-label-danger label-large">Made-to-measure</span>
                </div>
                <div class="uk-padding">
                  <h3 class="uk-margin-small">Operating options for Vertical Blinds</h3>
                  <p class="uk-margin-small">A wand attached in front of the first louvre is a popular way to operate an inherently child safe Vertical blind or of you would prefer to use cords to turn or open the louvres, then a child safety device will always be included for fitting.</p>
                  <!-- <a href="/blinds" class="uk-button uk-button-text">browse blinds</a> -->
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="" uk-lightbox>
          <div>
            <a href="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-vertical-blinds-18-716x450.jpg" class="uk-inline uk-transition-toggle">
              <img class="uk-border-rounded" src="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-vertical-blinds-18-716x450.jpg" alt="">
              <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
              </div>
            </a>
            <div class="uk-padding uk-padding-remove-vertical pull-up-50">
              <div class="uk-background-default uk-text-center uk-position-relative">
                <div class="uk-position-top pull-up-15">
                  <span class="uk-label uk-label-danger label-large">Made-to-measure</span>
                </div>
                <div class="uk-padding">
                  <h3 class="uk-margin-small">Choosing a fabric for your bathrooms or kitchen</h3>
                  <p class="uk-margin-small">Choose a fabric with a moisture and mould resistant coating. These are the ideal solution for humid rooms as they are easy to clean and come in some great colours.</p>
                  <!-- <a href="/shutters" class="uk-button uk-button-text">browse shutters</a> -->
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="" uk-lightbox>
          <div>
            <a href="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-vertical-blinds-11-716x450.jpg" class="uk-inline uk-transition-toggle">
              <img class="uk-border-rounded" src="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-vertical-blinds-11-716x450.jpg" alt="">
              <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
              </div>
            </a>
            <div class="uk-padding uk-padding-remove-vertical pull-up-50">
              <div class="uk-background-default uk-text-center uk-position-relative">
                <div class="uk-position-top pull-up-15">
                  <span class="uk-label uk-label-danger label-large">Made-to-measure</span>
                </div>
                <div class="uk-padding">
                  <h3 class="uk-margin-small">Blackout colours for perfect privacy</h3>
                  <p class="uk-margin-small">Our Vertical Blinds range come with an array of optional blackout colours which are perfect for light control & privacy.</p>
                  <!-- <a href="/curtains" class="uk-button uk-button-text">browse curtains</a> -->
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
{% endblock %}