{% extends 'archive.twig' %}
{% import "_snippets.twig" as snippets %}

{% block archive_content %}
  <div class="search-form uk-container">
    
    <p>{{ snippets.search_form_msg|e('esc_html') }}</p>
    
    <form class="search-form uk-width-large" role="search" action="{{ site.url|e('esc_url') }}" method="get">
      <div class="uk-grid-collapse uk-flex uk-flex-middle" uk-grid>
        
        <div class="search-form-input uk-width-expand">
          <input class="password-box uk-input" name="s" id="404-search" type="search" placeholder="{{ snippets.search_form_placeholder()|e('esc_html') }}" size="20" required maxlength="100" pattern=".*\S+.*" autocomplete="off" />
        </div>
        
        <div class="search-form-button uk-width-auto">
          <input class="password-btn uk-button uk-button-primary uk-text-bold" type="submit" value="{{ snippets.search_btn_text()|e('esc_html') }}" />
        </div>
        
      </div>
    </form>
    
  </div>
{% endblock %}