<footer id="SiteFooter" class="site-footer uk-background-secondary uk-light">
  <nav class="uk-navbar-container uk-navbar-transparent">
    <div class="uk-container" uk-navbar>
      
      {# copyright #}
      <div class="uk-navbar-center">
        <div class="uk-navbar-item">
          <p class="uk-text-center">
            © {{ now|date('Y') }} - 
            <a target="_blank" href="https://github.com/robmccormack89">
              Created by robmccormack89
            </a> | Built with 
            <a href="http://getuikit.com" class="uk-link" target="_blank" title="UIkit" uk-tooltip="UIkit" aria-expanded="false">
              <span uk-icon="uikit"></span>
            </a>
          </p>
        </div>
    	</div>
      
    </div>
  </nav>
</footer>