{% import "_snippets.twig" as snippets %}

{% block html_head_container %}

  {% include '_html-head.twig' %}
    {% block styles %}
    {% endblock %}
  </head>
  {% endblock %}

  <body class="{{ body_class }}">

    {% if configs.theme_preloader %}
      <div id="Preloader" class="preloader"></div>
    {% endif %}

    {% block header %}
      {% include 'header.twig' %}
    {% endblock %}

    <main id="Main" role="main">
      <div id="ContentSection">
        {% block main %}
          <div class="uk-section uk-container">
            {{ snippets.nothing_here()|e('esc_html') }}
          </div>
        {% endblock %}
      </div>
    </main>

    {% block footer %}
      {% include 'footer.twig' %}
    {% endblock %}

    {{ fn('wp_footer') }}

    {% if configs.theme_preloader %}
      <script type='text/javascript'>
        document.body.addEventListener("load", preloadMe());
      </script>
    {% endif %}

    {% block scripts %}
    {% endblock %}

  </body>

</html>
