{% block html_head_container %}

  {% include '_html-head.twig' %}
    {% block styles %}
    {% endblock %}
  </head>
  {% endblock %}

  <body class="uk-background-secondary uk-lighttt {{ body_class }}">
    
    {% block theme_preloader_markup %}
      {% if configs.theme_preloader %}
        <div id="Preloader" class="preloader"></div>
      {% endif %}
    {% endblock %}
    
    {% do action('theme_before_header') %}

    {% block header %}
      {% include '_header.twig' %}
    {% endblock %}
    
    <main id="Main" role="main">
      <div id="ContentSection">
        {% block main %}
          <div class="uk-section uk-container">
            Sorry, nothing to display here...
          </div>
        {% endblock %}
      </div>
    </main>
    
    {% block footer %}
      {% include '_footer.twig' %}
    {% endblock %}
    
    {% do action('theme_above_footer') %}
    
    {{ fn('wp_footer') }}
    
    {% block theme_preloader_scripts %}
      {% if configs.theme_preloader %}
        <script type='text/javascript'>
          document.body.addEventListener("load", window.parent.PreloadMe());
        </script>
      {% endif %}
    {% endblock %}
    
    {% block scripts %}
    {% endblock %}
    
  </body>

</html>