{% import "_snippets.twig" as snippets %}

{% block html_head_container %}

  {% include '_html-head.twig' %}
    {% block styles %}
    {% endblock %}
  </head>
  {% endblock %}

  <body class="{{ body_class }}">
    
    {% block theme_preloader_markup %}
      {% if configs.theme_preloader %}
        <div id="Preloader" class="preloader"></div>
      {% endif %}
    {% endblock %}
    
    {% do action('theme_before_header') %}

    {% block header %}
      {% include 'header.twig' %}
    {% endblock %}
    
    <main id="Main" role="main">
      <div id="ContentSection">
        {% block main %}
          <div class="uk-section uk-container">
            {{ snippets.nothing_here()|e('esc_html') }}
          </div>
        {% endblock %}
      </div>
    </main>
    
    {% block footer %}
      {% include 'footer.twig' %}
    {% endblock %}
    
    {{ fn('wp_footer') }}
    
    {% block fixednav %}
      {% include '_fixednav.twig' %}
    {% endblock %}
    
    <div id="MiniCartModal" class="minicart-modal" uk-modal>
      <div class="uk-modal-dialog">
        <div class="uk-modal-body height-content uk-padding-remove" uk-overflow-auto>
          <div class="widget_shopping_cart_content">
            {{ fn('woocommerce_mini_cart') }}
          </div>
        </div>
      </div>
    </div>
    
    {% block theme_preloader_scripts %}
      {% if configs.theme_preloader %}
        <script type='text/javascript'>
          document.body.addEventListener("load", preloadMe());
        </script>
      {% endif %}
    {% endblock %}
    
    {% block scripts %}
    {% endblock %}
    
  </body>

</html>