{% import "_snippets.twig" as snippets %}

<section class="product-more-section uk-container">
  <div class="uk-background-muted theme-border">
    <div class="uk-container uk-container-small uk-text-center uk-section uk-section-small">

      <header class="collection-terms-section-header uk-text-center uk-margin-bottom">
        <h2 class="uk-h2 uk-margin-remove">Additional Features</h2>
        <p class="uk-text-lead uk-text-muted uk-margin-small">Here is a list of features/options that you can expect from this product</p>
      </header>

      <div class="swiper-two mySwiper4 uk-overflow-hidden uk-margin-medium-top">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="theme-border">
              <img src="https://picsum.photos/200/133?random=1" alt="" width="200" height="133">
              <div class="uk-background-default uk-padding-small">
                Item
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="theme-border">
              <img src="https://picsum.photos/200/133?random=2" alt="" width="200" height="133">
              <div class="uk-background-default uk-padding-small">
                Item
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="theme-border">
              <img src="https://picsum.photos/200/133?random=3" alt="" width="200" height="133">
              <div class="uk-background-default uk-padding-small">
                Item
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="theme-border">
              <img src="https://picsum.photos/200/133?random=4" alt="" width="200" height="133">
              <div class="uk-background-default uk-padding-small">
                Item
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="theme-border">
              <img src="https://picsum.photos/200/133?random=5" alt="" width="200" height="133">
              <div class="uk-background-default uk-padding-small">
                Item
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="theme-border">
              <img src="https://picsum.photos/200/133?random=6" alt="" width="200" height="133">
              <div class="uk-background-default uk-padding-small">
                Item
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="theme-border">
              <img src="https://picsum.photos/200/133?random=7" alt="" width="200" height="133">
              <div class="uk-background-default uk-padding-small">
                Item
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="theme-border">
              <img src="https://picsum.photos/200/133?random=8" alt="" width="200" height="133">
              <div class="uk-background-default uk-padding-small">
                Item
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="theme-border">
              <img src="https://picsum.photos/200/133?random=5" alt="" width="200" height="133">
              <div class="uk-background-default uk-padding-small">
                Item
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="theme-border">
              <img src="https://picsum.photos/200/133?random=6" alt="" width="200" height="133">
              <div class="uk-background-default uk-padding-small">
                Item
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="theme-border">
              <img src="https://picsum.photos/200/133?random=7" alt="" width="200" height="133">
              <div class="uk-background-default uk-padding-small">
                Item
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="theme-border">
              <img src="https://picsum.photos/200/133?random=8" alt="" width="200" height="133">
              <div class="uk-background-default uk-padding-small">
                Item
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination uk-margin-large-top"></div>
      </div>

    </div>
  </div>
</section>
