{% import "snippets.twig" as snippets %}

<div>
  <div class="theme-border-bottom theme-border-right uk-height-1-1">
    <a {% if not is_preview %}href="{{ all_categories_link }}"{% endif %} class="uk-link-reset">
      <div class="cat-box uk-flex uk-flex-middle uk-grid-small uk-height-1-1" uk-grid>
        <div class="left cat-img uk-width-1-5 uk-width-1-3@m">
          <div class="uk-padding-small">
            <img 
            {% if not is_preview %}data-{% endif %}src="{{ def_image_src }}" height="86" width="86" 
            alt="{{ def_image_alt }}" 
            {% if not is_preview %}uk-img{% endif %}>
          </div>
        </div>
        <div class="right cat-details uk-width-4-5 uk-width-2-3@m push-right-15">
          <h5 class="uk-margin-remove">{{ all_categories_text }}</h5>
        </div>
      </div>
    </a>
  </div>
</div>