// // STANDARD UIKI BUILD; STRAIGHT FROM NODE_MODULES
//
// // 1. customizing uikit variables before build (variables get built in)
// $offcanvas-bar-background: #fff;
// $offcanvas-bar-color-mode: none;
//
// // 2. Import uikit variables & mixins
// @import "node_modules/uikit/src/scss/variables-theme.scss";
// @import "node_modules/uikit/src/scss/mixins-theme.scss";
//
// // 3. Import uikit theme
// @import "node_modules/uikit/src/scss/uikit-theme.scss";
//
// // 4. import custom theme sass
// @import "assets/scss/theme/_import.scss";

// ------------------------------------------------------------

// A CUSTOM UIKIT BUILD WITH SELECTIVE COMPONENTS (ALL SELECTED)

// base colour variables
$theme_purple: #131441; // solaris purple
$theme_dark_purple: #0d0e27;
$theme_very_dark_purple: #17161a;
$theme_greypurple: #454556; // solaris grey_purple
$theme_gold: #cebd9b; // solaris gold
$theme_brown: #686058;
$theme_green: #21897E;
$theme_whatsapp_green: #25D366;
$theme_orange: #faa05a;
$theme_pink: #E63462;
$theme_red: #ee3131;
$theme_muted_pink: #fdefef;
$theme_white: #fff;
$theme_lightest_grey: #f8f8f8;
$theme_lighter_grey: #f3f3f3;
$theme_light_grey: #b4b4b4;
$theme_grey: #afafaf;
$theme_dark_grey: #999;
$theme_darker_grey: #666;
$theme_very_dark_grey: #333;
$theme_blackest_grey: #1e1e1e;
$theme_black: $theme_blackest_grey;

// font sizes
$theme-base-font-size: 17px;

// font weights. 100, 400, 600, 700  - current weights of google fonts
$lighter_weight: 100;
$light_weight: 100;
$normal_weight: 400;
$bold_weight: 600;
$bolder_weight: 700;

// fonts
$theme_font: 'DM Sans', sans-serif;
$theme_font_sourcesans: 'Source Sans Pro', sans-serif;
$theme_font_playfair: 'Playfair Display', serif;

// 1. set the theme variables

// borders
$theme_border_color: #e5e5e5;
$theme_border_accent_color: #e5e5e5;
$theme_border_light_color: rgba($theme_white, .25);
$theme_border: 1px solid $theme_border_color;
$theme_border_thick: 2px solid $theme_border_color;
$theme_border_light: 1px solid $theme_border_light_color;
$theme_border_light_thick: 2px solid $theme_border_light_color;

// shadows
$navbar_dropdown_shadow: 0 5px 12px rgba(0,0,0,.15);

// overlays
$theme_primary_overlay: rgba($theme_purple, 0.8); // dark black strong
$theme_faint_black_overlay: rgba($theme_greypurple, 0.35); // very faint black
$theme_medium_black_overlay: rgba($theme_black, 0.4); // black medium
$theme_greypurple_overlay: rgba($theme_greypurple, 0.45); // purple overlay

// 1. first, do your overwrites of the uikit theme'd variables here...

//
// Colors
//
$global-font-size: $theme-base-font-size;

//
// Colors
//
$global-color: $theme_darker_grey;
$global-emphasis-color: $theme_greypurple;
$global-muted-color: $theme_light_grey;
$global-link-color: $theme_greypurple;
$global-link-hover-color: $theme_gold;
$button-link-hover-color: $theme_gold;
$link-heading-hover-color: $theme_gold;
$global-inverse-color: $theme_white;

$base-heading-color: $theme_greypurple;
$text-lead-color: $theme_darker_grey;

//
// Backgrounds
//
$global-background: $theme_white;
$global-muted-background: $theme_lightest_grey;
$global-primary-background: $theme_purple;
// $global-primary-background: $theme_greypurple;
// $card-default-title-color: $theme_greypurple;
$card-default-title-color: $theme_greypurple;
$global-secondary-background: $theme_gold;
$global-success-background: $theme_green;
$global-warning-background: $theme_orange;
$global-danger-background: $theme_pink;

$transition-scale: 1.08;

//
// Overlays
//
$overlay-default-background: rgba($global-background, 0.8) !default; // white overlay
$overlay-primary-background: rgba($global-primary-background, 0.8) !default; // purple overlay
$overlay-primary-color-mode: light !default;

//
// Offcanvas
//
$offcanvas-bar-background: #fff;
$offcanvas-bar-color-mode: none;

// 2. Import themed variables & mixins
@import "assets/scss/lib/uikit/variables-theme.scss";
@import "assets/scss/lib/uikit/mixins-theme.scss";

// 2. Or import the default variables & mixins
// @import "assets/scss/lib/uikit/variables.scss";
// @import "assets/scss/lib/uikit/mixins.scss";

// 3. If importing the theme, now import the themed uikit components (with custom variables) next
@import "assets/scss/lib/uikit/theme/_import.scss";

// 4. next, we do any custom mixin overwrites. we can use this themed or not also
// @import "assets/scss/theme/accordion-mixins.scss";

// 5. Now we Import the main uikit components (regardless of theme)
@import "assets/scss/lib/uikit/_import.base.scss";

// 6. finally, import our custom sass styles. this is our own custom stuff which can now also use uikit variables
@import "assets/scss/theme/_import.scss";
