//
// BACKGROUNDS
//

// custom
.theme-primary-bg {
  background-color: $theme_primary;
}
.theme-muted-primary-bg {
  background-color: $theme_grey_primary;
}
.theme-primary-bg-dark {
  background-color: $theme_dark_primary;
}
.theme-dark-bg {
  background: $theme_black;
}

// UIKIT EXTENDS utilities

//
// OVERLAYS
//

// custom overlay using psuedo. use additional background-colour to add the actual overlay
.overlay-wrap:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: auto;
}

// a psuedo hover-effect overlay - default style
.primary-overlay-hover:after,
.default-overlay-hover:after {
  background-color: none;
  transition: .5s ease;
}
.primary-overlay-hover:hover:after {
  background-color: $overlay-primary-background;
}
.default-overlay-hover:hover:after {
  background-color: $overlay-default-background;
}

// custom pseudo overlays - works with above
.primary-overlay:after {
  background-color: $overlay-primary-background;
}
.default-overlay:after {
  background-color: $overlay-default-background;
}

// custom overlay bg classes with fades - modify uk-overlay-default classes etc....
.uk-overlay-faint {
  background: $theme_faint_black_overlay;
}
.uk-overlay-medium {
  background: $theme_medium_black_overlay;
}
.uk-overlay-greypurple {
  background: $theme_grey_primary_overlay;
}
