// theme borders
.theme-border {
	border: $theme_border;
}
.theme-border-top {
	border-top: $theme_border;
}
.theme-border-bottom {
	border-bottom: $theme_border;
}
.theme-border-left {
	border-left: $theme_border;
}
.theme-border-right {
	border-right: $theme_border;
}

// light borders
.uk-light {
	.theme-border {
		border: $theme_border_light;
	}
	.theme-border-top {
		border-top: $theme_border_light;
	}
	.theme-border-bottom {
		border-bottom: $theme_border_light;
	}
	.theme-border-left {
		border-left: $theme_border_light;
	}
	.theme-border-right {
		border-right: $theme_border_light;
	}
}

// theme divider
.theme-divider {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  position: relative;
  padding: 0;
}
.theme-divider::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: 20px;
  border-bottom: $theme_border;
}
.theme-divider::after {
  content: '';
  position: absolute;
  top: -1px;
  right: 0;
  bottom: 0;
  left: 20px;
  border-bottom: $theme_border_thick;
  width: 40px;
}

// UIKIT EXTENDS utilities
.uk-border-rounded.rounded-bottom-only {
  border-radius: 0px 0px 5px 5px;
}

// UIKIT LIGHT divider border colour
.uk-light hr,
hr.uk-light {
  border-top-color: $theme_border_light_color;
}

// general use utility classes
.border-full {
  border-radius: 100%;
}
