//
// UIKIT - buttons
//
.uk-button {
  text-transform: capitalize;
}
.uk-button-primary {
  background-color: $theme_purple;
  border: 1px solid transparent;
  color: $theme_white;
}
.uk-button-small.uk-border-rounded {
  border-radius: 30px;
}
.uk-button-large.uk-border-rounded {
  border-radius: 50px;
}
.uk-button.uk-label-danger:hover,
.uk-button.uk-label-success:hover {
  color: $theme_white;
}
.uk-button-small.uk-button-wide {
  padding-left: 20px;
  padding-right: 20px;
}

//
// UIKIT LIGHT - buttons
//
.uk-light {
	.uk-button-default {
		border-width: 2px;
	}
}

//
// CUSTOM
//

// removing underline on certain links
a.dont-underline:hover, a.dont-underline:focus, .dont-underline:hover, .dont-underline:focus,
.uk-link-toggle:focus .uk-link, .uk-link-toggle:hover .uk-link, .uk-link:hover, a:hover {
  text-decoration: none;
}

// custom disabled checkboxes styling
.prevent-unclick:checked, .prevent-unclick:checked:focus, .prevent-unclick:indeterminate:focus {
  background-color: $theme_lightest_grey;
  border-color: $theme_border_color;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='14' height='11' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23b4b4b4' d='M12 1 5 7.5 2 5l-1 .5L5 10l8-8.5z'/%3E%3C/svg%3E");
}

//
// 3D FILTER BUTTONS
//

// 3D filter button: 4px box-shadow adjusted
.filter-btn {
  color: $theme_darker_grey;
  position: relative;
  display: inline-block;
  padding: 5px 20px;
  font-size: .875rem;
  text-transform: lowercase;
  transform-style: preserve-3d;
}
.filter-btn:before {
  transition: all 0.15s linear 0s;
  background-color: $theme_white;
  // box-shadow: -4px 4px 0 #5a5a5a;
  box-shadow: -2px 2px 0 $theme_grey;
  border-radius: 3px;
  content: '';
  display: block;
  position: absolute;
  // top: -4px;
  top: -2px;
  bottom: 0;
  // left: 4px;
  left: 2px;
  right: 0;
  width: 100%;
  height: 100%;
  transform: translateZ(-1px);
}
.filter-btn>span {
  // top: -4px;
  top: -2px;
  // left: 4px;
  left: 2px;
  position: relative;
  transition: all 0.15s linear 0s;
  color: $theme_darker_grey;
}

// 3D filter button hover effects: 2px box-shadow adjusted
.filter-btn:hover:before {
  // top: -2px;
  top: 0px;
  // left: 2px;
  left: 0px;
  // box-shadow: -2px 2px 0 #5a5a5a;
  box-shadow: none;
}
.filter-btn:hover>span {
  position: relative;
  // top: -2px;
  top: 0px;
  // left: 2px;
  left: 0px;
  color: $theme_grey;
}

// 3D filter button active effects: 0px position adjusted on ::active & 1px position adjusted for border on theme-active
.filter-btn:active:before {
  top: 0px;
  left: 0px;
  box-shadow: none;
}
.filter-btn.theme-active:before {
  top: -1px;
  left: 1px;
  box-shadow: none;
}
.filter-btn.theme-active:before {
  border: 1px solid $theme_lighter_grey;
}
.filter-btn:active>span {
  position: relative;
  top: 0px;
  left: 0px;
  color: $theme_grey;
}
.filter-btn.theme-active>span {
  position: relative;
  top: -1px;
  left: 1px;
  color: $theme_grey;
}

// 3D filter button: stops weird blue bg when clicking filter buttons
.filter-btn::-moz-selection,
.filter-btn>span::-moz-selection {
  color: inherit;
  background: none;
}
.filter-btn::selection,
.filter-btn>span::selection {
  color: inherit;
  background: none;
}
