/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

// ANIMATIONS: NEW
@keyframes "spin" {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes "reveal" {
	from {
		transform: scale(0.001);
	}
	to {
		transform: scale(1);
	}
}
@keyframes "slide" {
	to {
		transform: translateX(1.5em);
	}
}
@keyframes "fade" {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

// page preloader
.preloader::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 45vh;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 80px;
  border: 2px solid $theme_lighter_grey;
  border-top: 3px solid $theme_darker_grey;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear;
  z-index: 5;
}
.preloader::after {
  content: '';
  position: absolute;
  background-color: $theme_white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.preloader {
  visibility: visible;
  opacity: 5;
  transition: opacity 0.4s linear;
}
.preloader.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}

// loading div: little loader spinner icon. used on shop filters etc
#loading,
#loaderSearch {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	border: 3px solid rgba($theme_light_grey, .5);
	border-radius: 20px;
	border-top-color: $theme_purple;
	animation: spin 1s ease-in-out infinite;
	-webkit-animation: spin 1s ease-in-out infinite;
}

// shop demo products: NEW
#DemoProductsGrid {
	min-height: 600px;
}
.demo-archive-posts {
	.uk-background-secondary {
		background-color: $theme_dark_grey;
	}
	.demo-text {
		height: 30px;
	}
	.demo-text-first {
		height: 15px;
		margin-top: 15px;
		margin-bottom: 0px;
	}
}

// inf scroll pagination: NEW
.page-load-status {
	display: none;
	padding-top: 20px;
	text-align: center;
	color: $theme_greypurple;
}
.loader-ellips {
	font-size: $global-medium-font-size;
	position: relative;
	width: 4em;
	height: 1em;
	margin: 10px auto;
}
.loader-ellips__dot {
	display: block;
	width: 1em;
	height: 1em;
	border-radius: 0.5em;
	background: $theme_greypurple;
	position: absolute;
	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	&:nth-child(1) {
		left: 0;
		animation-name: reveal;
	}
	&:nth-child(2) {
		left: 0;
		animation-name: slide;
	}
	&:nth-child(3) {
		left: 1.5em;
		animation-name: slide;
	}
	&:nth-child(4) {
		left: 3em;
		animation-name: reveal;
		animation-direction: reverse;
	}
}

// quickload content ajax loader: OLD
.quickloader {
  border: none;
}
.quickloader::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 70px;
  height: 70px;
  border: 2px solid $theme_black;
  border-top: 3px solid $theme_purple;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear;
  z-index: 1;
}
.quickloader::after {
  content: '';
  position: absolute;
  background-color: $overlay-default-background;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
