//
// section: cta ruler thingy: green
//
.value-message-strip__image-border {
  background-image: url("data:image/svg+xml;utf8,<svg width='63' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M63 15.99V0h-2v13.504h-5.39L55.65 7h-1.3v6.504h-4.7V7h-1.3v6.504h-4.7V7h-1.3v6.504h-4.7V7h-1.3v6.504h-5v-10.5L29.65 3v10.504h-5V7h-1.3v6.504h-4.7V7h-1.3v6.504h-4.7V7h-1.3v6.504h-4.7V7h-1.3v6.504H0V16l63-.01z' fill='%23ffffff'/></svg>");
  background-repeat: repeat-x;
  background-position-y: bottom;
  background-size: 40px;
}
.value-message-strip__wrapper {
  padding: 24px;
  position: relative;
  overflow: hidden;
}
.value-message-strip__items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.value-message-strip__item {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
.value-message-strip__item-icon {
  flex: 1 1 100px;
}
.value-message-strip__item-icon, .value-message-strip__item-text {
  flex: initial;
}
.value-message-strip__item-icon {
  height: 60px;
  margin-right: 16px;
  flex: 1 1 100px;
  text-align: right;
}
.value-message-strip__item-icon svg {
  height: 100%;
}
.value-message-strip__item-text {
  color: $theme_very_dark_grey;
  line-height: 1.3;
  letter-spacing: 0;
  // font-family: ProximaNovaAlt,Arial,"sans-serif";
  font-size: 20px;
  font-weight: $bolder_weight;
  text-transform: none;
  color: inherit;
  text-transform: uppercase;
}
.value-message-strip__item-text {
  flex: 2 2 200px;
}
.value-message-strip__tagline {

}
.value-message-strip__tagline {
  color: $theme_brown;
  line-height: 1.6;
  font-size: 24px;
  font-weight: $normal_weight;
  letter-spacing: 3px;
  line-height: 1.5;
  color: inherit;
  text-align: center;
  margin: 0 16px;
}

//
// #HalfnHalf. responsive
//
@media only screen and (max-width:959px) {
  // hero section mobile
  #HalfnHalf .pull-up-1-1 {
    margin-top: auto;
  }
  #HalfnHalf .content-half {
    height: fit-content;
  }
  #HalfnHalf .image-half {
    max-height: 120px;
  }
}
