// additions of utility classes that modify existing uikit elements
.uk-subnav-small {
  margin-left: -20px;
}
.uk-subnav-small>:before {
  margin-right: 10px;
}
.uk-subnav-small>* {
  padding-left: 10px;
}
// breaks the uikit container so we can use fullwidth/expanded containers within narrower containers
// this requires a custom sass build for uikit to remove the .uk-container .uk-container styling in components/container.scss
// .gutenberg-editor .uk-container-break,
// .break-wrap .uk-container-break {
//   width: 100vw!important;
//   position: relative;
//   left: 50%;
//   right: 50%;
//   margin-left: -50vw;
//   margin-right: -50vw;
// }
.break-wrap .uk-container-break, .gutenberg-editor .uk-container-break {
    left: 50%;
    margin-left: -50%;
    /* margin-right: calc(-50vw); */
    position: relative;
    right: 50%;
    width: 100%;
}
.font-1-5 {
  font-size: 1.5rem!important;
}
.font-2 {
  font-size: 2rem;
}
.font-400 {
  font-weight: 400;
}
.font-500 {
  font-weight: 500;
}
.font-600 {
  font-weight: 600;
}
.font-700 {
  font-weight: 700;
}
.font-800 {
  font-weight: 800;
}
.font-900 {
  font-weight: 900;
}
.container-wrap-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.height-50 {
  height: 50px;
}
.padding-10 {
  padding: 10px;
}
.padding-15 {
  padding: 15px;
}
.padding-20 {
  padding: 20px;
}
.padding-20-0 {
  padding: 20px 0;
}
.padding-top-30 {
  padding-top: 30px;
}
.padding-bottom-30 {
  padding-bottom: 30px;
}
.padding-left-40 {
  padding-left: 40px;
}
.padding-10-20-0-20 {
  padding: 10px 20px 0;
}
.padding-10-0-0-0 {
  padding: 10px 0 0 0;
}
.padding-remove-bottom {
  padding-bottom: 0;
}
.padding-remove-top {
  padding-top: 0;
}
.padding-0-10 {
  padding: 0 10px;
}
.padding-top-20 {
  padding-top: 20px;
}
.padding-bottom-20 {
  padding-bottom: 20px;
}
.padding-0-0-0-20 {
  padding: 0 0 0 20px;
}
.height-content {
  min-height: fit-content!important;
}
.margin-top-30 {
  margin-top: 30px !important;
}
.pull-right-20 {
  margin-right: -20px!important;
}
.pull-right-30 {
  margin-right: -30px!important;
}
.pull-right-15 {
  margin-right: -15px!important;
}
.pull-right-10 {
  margin-right: -10px!important;
}
.pull-left-15 {
  margin-left: -15px!important;
}
.pull-left-10 {
  margin-left: -10px!important;
}
.push-left-7 {
  margin-left: 7px!important;
}
.pull-right-25 {
  margin-right: -25px!important;
}
.pull-left-20 {
  margin-left: -20px!important;
}
.pull-left-25 {
  margin-left: -25px!important;
}
.pull-left-15 {
  margin-left: -15px!important;
}
.pull-up-3 {
  margin-top: -3px!important;
}
.pull-down-6 {
  margin-bottom: -6px!important;
}
.pull-right-40 {
  margin-right: -40px!important;
}
.pull-left-8 {
  margin-left: -8px!important;
}
.min-height-40 {
  min-height: 40px;
}
.width-49 {
  width: 49%;
}
.margin-left-2 {
  margin-left: 2%;
}
.padding-5 {
  padding: 5px;
}
a.dont-underline:hover, a.dont-underline:focus {
  text-decoration: none;
}
// backgrounds
// .theme-bg {
//   background-color: $global-primary-background;
// }
// .theme-bg-darker {
//   background-color: $global-darker-bg-primary;
// }
// .darker-bg-primary {
//   background-color: $global-darker-bg-primary;
// }
// .dark-bg-black {
//   background: $global-dark-bg-black;
// }