// breaks the uikit container so we can use fullwidth/expanded containers within narrower containers
// this requires a custom sass build for uikit to remove the .uk-container .uk-container styling in components/container.scss
// .gutenberg-editor .uk-container-break,
// .break-wrap .uk-container-break {
//   width: 100vw!important;
//   position: relative;
//   left: 50%;
//   right: 50%;
//   margin-left: -50vw;
//   margin-right: -50vw;
// }
.break-wrap .uk-container-break, .gutenberg-editor .uk-container-break {
    left: 50%;
    margin-left: -50%;
    /* margin-right: calc(-50vw); */
    position: relative;
    right: 50%;
    width: 100%;
}

.font-1-5 {
  font-size: 1.5rem!important;
}
.font-2 {
  font-size: 2rem;
}
.font-400 {
  font-weight: 400;
}
.font-500 {
  font-weight: 500;
}
.font-600 {
  font-weight: 600;
}
.font-700 {
  font-weight: 700;
}
.font-800 {
  font-weight: 800;
}
.font-900 {
  font-weight: 900;
}

.padding-10 {
  padding: 10px;
}
.padding-15 {
  padding: 15px;
}
.padding-20 {
  padding: 20px;
}
.padding-20-0 {
  padding: 20px 0;
}
.padding-top-30 {
  padding-top: 30px;
}
.padding-bottom-30 {
  padding-bottom: 30px;
}
.padding-left-40 {
  padding-left: 40px;
}
.padding-10-20-0-20 {
  padding: 10px 20px 0;
}
.padding-10-0-0-0 {
  padding: 10px 0 0 0;
}
.padding-remove-bottom {
  padding-bottom: 0;
}
.padding-remove-top {
  padding-top: 0;
}
.padding-0-10 {
  padding: 0 10px;
}
.padding-top-20 {
  padding-top: 20px;
}
.padding-top-10 {
  padding-top: 10px;
}
.padding-bottom-20 {
  padding-bottom: 20px;
}
.padding-0-0-0-20 {
  padding: 0 0 0 20px;
}
.padding-5 {
  padding: 5px;
}

.margin-top-30 {
  margin-top: 30px !important;
}
.margin-right-2 {
  margin-right: 2px !important;
}
.margin-left-2 {
  margin-left: 2%;
}

.pull-right-20 {
  margin-right: -20px!important;
}
.pull-right-30 {
  margin-right: -30px!important;
}
.pull-right-15 {
  margin-right: -15px!important;
}
.pull-right-10 {
  margin-right: -10px!important;
}
.pull-left-15 {
  margin-left: -15px!important;
}
.pull-left-10 {
  margin-left: -10px!important;
}
.pull-position-down-20 {
  bottom: -20px!important;
}

.pull-right-25 {
  margin-right: -25px!important;
}
.pull-left-20 {
  margin-left: -20px!important;
}
.pull-left-25 {
  margin-left: -25px!important;
}
.pull-left-15 {
  margin-left: -15px!important;
}
.pull-up-3 {
  margin-top: -3px!important;
}
.pull-down-6 {
  margin-bottom: -6px!important;
}
.pull-right-40 {
  margin-right: -40px!important;
}
.pull-left-8 {
  margin-left: -8px!important;
}

.push-left-7 {
  margin-left: 7px!important;
}

.container-wrap-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.height-content {
  min-height: fit-content!important;
}

.min-height-40 {
  min-height: 40px!important;
}
.min-height-small {
  min-height: 150px;
}
.min-height-medium {
  min-height: 300px;
}
.min-height-large {
  min-height: 450px;
}

.height-50 {
  height: 50px;
}
.width-49 {
  width: 49%;
}

.normal-line-height {
  line-height: normal;
}
.mobile-menu-toggle-wrap {
  padding: 10px 12px; 
}
.cover-img {
  object-fit: cover
  // width: 100%;
  // min-height: 500px;
}

a.dont-underline:hover, a.dont-underline:focus {
  text-decoration: none;
}

// cover section
.overlay-contained {
  overflow: hidden
}
.theme-position {
  position: absolute;
  box-sizing: border-box;
  width: -webkit-fill-available;
  max-width: 100%;
}
.position-middle {
  top: 50%;
  transform: translate(-30px,-50%);
}
.position-top {
  top: 0;
  left: 0;
  right: 0;
}
.position-bottom {
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
}

.no-overflow {
  overflow: hidden;
}

// backgrounds 
// .theme-bg {
//   background-color: $global-primary-background;
// }
// .theme-bg-darker {
//   background-color: $global-darker-bg-primary;
// }
// .darker-bg-primary {
//   background-color: $global-darker-bg-primary;
// }
// .dark-bg-black {
//   background: $global-dark-bg-black;
// }