{#
/**
 * Block Name: Cover section
 *
 * This is the template that displays the Cover section block.
 */
#}

{% extends "_block.twig" %}

{% block block_content %}
  {# image logic #}
  {% set _block_img = block_img.src|resize(1920, (fullheight) ? 975 : null) %}
  {% set bg_img_style_attrs = (block_img) ? 'style="background-image: url( ' ~ _block_img|e('esc_url') ~ ' );"' %}
  
  {# styles logic #}
  {% set bg_colour_style_attrs = (bg_colour) ? 'style="background-color: ' ~ bg_colour|e('esc_html') ~ ';"' %}
  
  {# block html #}
  <div class="uk-background-cover" {{ bg_img_style_attrs }}>
    <div class="uk-position-relative" {{ bg_colour_style_attrs }}>
      <div class="uk-container uk-section uk-section-small {{ custom_classes|e('esc_html') }} {{ fullheight_class }}">
        <div class="cover-block-content">
          <InnerBlocks />
        </div>
      </div>
    </div>
  </div>
{% endblock %}