{#
/**
 * Block Name: Cover section
 *
 * This is the template that displays the Cover section block.
 */
#}

{% extends "_block.twig" %}

{% block block_content %}

  {# image logic #}
  {% set img_src = _block_img.src|resize(1920, (fullheight) ? '975' : null) %}
  {% set the_bg_img = (img_src) ? 'style="background-image: url( ' ~ img_src|e('esc_html') ~ ' );"' %}
  
  {# styles logic #}
  {% set fullheight_classes = (fullheight) ? 'uk-flex uk-flex-middle uk-height-viewport' %}
  {% set the_bg_colour = (bg_colour) ? 'style="background-color: ' ~ bg_colour|e('esc_html') ~ ';"' %}
  
  {# block html #}
  <div class="uk-background-cover" {{ the_bg_img }}>
    <div class="uk-padding-remove uk-position-relative" {{ the_bg_colour }}>
      <div class="uk-container uk-section {{ custom_classes }} {{ fullheight_classes }}">
        <div class="cover-block-content uk-width-1-1">
          <InnerBlocks />
        </div>
      </div>
      <!-- <div class="uk-position-bottom">
        <div class="uk-container">
          <p class="uk-text-center uk-margin-remove">bottom_msg</p>
        </div>
      </div> -->
    </div>
  </div>
  
{% endblock %}