<footer class="site-footer">
  <nav class="uk-navbar-container">
    <div class="uk-container" uk-navbar>
      
      {# copyright #}
      <div class="uk-navbar-left">
        <div class="uk-navbar-item pull-left-15">
          <p class="uk-margin-remove">
            © {{ now|date('Y') }} <a href="{{ site.link|e('esc_url') }}" uk-tooltip="Back to Homepage">{{ site.title|e('esc_html') }}</a>
          </p>
        </div>
    	</div>
      
      {# back to top #}
      <div class="uk-navbar-right">
        <div class="uk-navbar-item pull-right-15">
          <a href="#" class="" uk-totop uk-scroll uk-tooltip="Go to Top"></a>
        </div>
    	</div>
      
    </div>
  </nav>
</footer>