{#
/**
 * Block Name: Products carousel section
 *
 * This is the template that displays the Products carousel section block.
 */
#}

{% extends "_block.twig" %}
{% import "_block-functions.twig" as functions %}
{% import "_block-snippets.twig" as snippets %}

{% block block_content %}
  {% set wrap_style = (products|length > 4) ? 'style="padding-bottom:30px;"' %}

  {% if products is not empty %}
    <div class="products-carousel-swiper uk-container uk-position-relative">
      <div id="slideshow_products" class="swiper-container" {{ wrap_style }}>
        <div class="swiper-wrapper">
          {% for product in products %}
            <div class="swiper-slide">
              {% include '_carousel-product.twig' %}
            </div>
          {% endfor %}
        </div>
        {% if products|length > 3 %}
          <div class="swiper-pagination"></div>
        {% endif %}
      </div>
      {% if products|length > 3 %}
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      {% endif %}
    </div>
  {% else %}
    {{ functions.preview_text(is_preview, snippets.no_products) }}
  {% endif %}
{% endblock %}

{% block block_scripts %}
  {% set _pagination = (products|length > 3) ? '.swiper-pagination' : false %}
  {{ functions.block_swiper(is_preview, 'products_swiper', '#slideshow_products', {slidesPerView: 3, spaceBetween: 10, navigation: true, pagination: _pagination, navigation_nextele: '.swiper-button-next', navigation_prevele: '.swiper-button-prev'}) }}
{% endblock %}