{# dump(terms) #}
<option value="" selected="true" disabled="disabled">Select Model</option>
{% for term in submodels_sel_terms %}
  <option id="{{ term.id|e('esc_html') }}" value="{{ term.slug|e('esc_html') }}">{{ term.name|e('esc_html') }}</option>
{% endfor %}