{% import "_snippets.twig" as snippets %}

<div class="uk-text-bold uk-text-emphasis">{{ snippets.loading_products_text()|e('esc_html') }}</div>
<ul class="demo-archive-posts demo-filters-container demo-products {{ grid_classes }} uk-grid uk-grid-small" uk-grid="masonry: true">
  <li>
    <div class="uk-height-small uk-background-muted"></div>
    <div class="demo-text demo-text-first uk-background-muted"></div>
    <div class="demo-text uk-background-muted"></div>
  </li>
  <li>
    <div class="uk-height-small uk-background-muted"></div>
    <div class="demo-text demo-text-first uk-background-muted"></div>
    <div class="demo-text uk-background-muted"></div>
  </li>
  <li>
    <div class="uk-height-small uk-background-muted"></div>
    <div class="demo-text demo-text-first uk-background-muted"></div>
    <div class="demo-text uk-background-muted"></div>
  </li>
  <li>
    <div class="uk-height-small uk-background-muted"></div>
    <div class="demo-text demo-text-first uk-background-muted"></div>
    <div class="demo-text uk-background-muted"></div>
  </li>
  <li>
    <div class="uk-height-small uk-background-muted"></div>
    <div class="demo-text demo-text-first uk-background-muted"></div>
    <div class="demo-text uk-background-muted"></div>
  </li>
  <li>
    <div class="uk-height-small uk-background-muted"></div>
    <div class="demo-text demo-text-first uk-background-muted"></div>
    <div class="demo-text uk-background-muted"></div>
  </li>
  <li>
    <div class="uk-height-small uk-background-muted"></div>
    <div class="demo-text demo-text-first uk-background-muted"></div>
    <div class="demo-text uk-background-muted"></div>
  </li>
  <li>
    <div class="uk-height-small uk-background-muted"></div>
    <div class="demo-text demo-text-first uk-background-muted"></div>
    <div class="demo-text uk-background-muted"></div>
  </li>
  <li>
    <div class="uk-height-small uk-background-muted"></div>
    <div class="demo-text demo-text-first uk-background-muted"></div>
    <div class="demo-text uk-background-muted"></div>
  </li>
  <li>
    <div class="uk-height-small uk-background-muted"></div>
    <div class="demo-text demo-text-first uk-background-muted"></div>
    <div class="demo-text uk-background-muted"></div>
  </li>
  <li>
    <div class="uk-height-small uk-background-muted"></div>
    <div class="demo-text demo-text-first uk-background-muted"></div>
    <div class="demo-text uk-background-muted"></div>
  </li>
  <li>
    <div class="uk-height-small uk-background-muted"></div>
    <div class="demo-text demo-text-first uk-background-muted"></div>
    <div class="demo-text uk-background-muted"></div>
  </li>
</ul>
